<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>中国政府采购网</title>
<link href="${base.contextPath}/lib/index/css/banner.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/index/css/indexonly.css" rel="stylesheet" type="text/css" />
<script  type="text/javascript" src="${base.contextPath}/lib/index/search/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="${base.contextPath}/lib/index/js/responsiveslides.min.js" ></script>
<script type="text/javascript" src="${base.contextPath}/lib/index/js/index/common.js" ></script>
<script type="text/javascript" src="${base.contextPath}/lib/index/js/index/jquery.SuperSlide.2.1.1.js" ></script>
</head>
<body id="index">
<link href="${base.contextPath}/lib/index/css/inc.css" rel="stylesheet" type="text/css" />
<#include "../include/navigation.html">

<!-- banner start -->
<div class="banner">
	<div class="js-sCont">
        <ul>
                                    
           
              <#list carouselList as carouselList>   
           			 <li>
			             <a href="#"  title="" target="_blank">
			                 <img src="${base.contextPath}${carouselList.filePath}"  alt="" width="1920" height="675" title="" />
			             </a>
			         </li>
              </#list>          
                                </ul>
	</div>
  	<div class="js-sDot"><ul></ul></div>
	<a href="javascript:;" class="js-prev bannerBnt"></a>
	<a href="javascript:;" class="js-next bannerBnt"></a>
</div>

<!-- banner end -->




<div class="main">
<div class="main_container">

	<h3 class="index_tit" style=""><a href="javascript:;" target="_blank"></a></h3>


    <div class="main_topic_block mt13">
        <div class="picnews">

<div class="vT_t1 picnews flexslider" id="demo02">
<ul class="slides">

<li><div class="word_bg"><p title="两会声音：做好财政收支加减法">两会声音：做好财政收支加减法</p></div><div class="img"><a href="gjdt/201803/t20180312_9652142.htm" tppabs="http://www.ccgp.gov.cn/gjdt/201803/t20180312_9652142.htm" target='_blank'  thumb="" alt="" text=""><img src="pnews/201803/W020180312338559251923.jpg" tppabs="http://www.ccgp.gov.cn/pnews/201803/W020180312338559251923.jpg" border='0' width="390px" height="285px" alt='两会声音：做好财政收支加减法' title='两会声音：做好财政收支加减法' /></a></div></li>


<li style="display:none"><div class="word_bg"><p title="两会：财政部部长肖捷等就“财税改革和财政工作”答问">两会：财政部部长肖捷等就“财税改革和财政工作”答问</p></div><div class="img"><a href="gjdt/201803/t20180308_9642494.htm" tppabs="http://www.ccgp.gov.cn/gjdt/201803/t20180308_9642494.htm" target='_blank'  thumb="" alt="" text=""><img src="pnews/201803/W020180308414963594198.jpg" tppabs="http://www.ccgp.gov.cn/pnews/201803/W020180308414963594198.jpg" border='0' width="390px" height="285px" alt='两会：财政部部长肖捷等就“财税改革和财政工作”答问' title='两会：财政部部长肖捷等就“财税改革和财政工作”答问' /></a></div></li>

<li style="display:none"><div class="word_bg"><p title="国务院总理李克强《政府工作报告》（文字实录）">国务院总理李克强《政府工作报告》（文字实录）</p></div><div class="img"><a href="gjdt/201803/t20180306_9634153.htm" tppabs="http://www.ccgp.gov.cn/gjdt/201803/t20180306_9634153.htm" target='_blank'  thumb="" alt="" text=""><img src="pnews/201803/W020180306329680486801.jpg" tppabs="http://www.ccgp.gov.cn/pnews/201803/W020180306329680486801.jpg" border='0' width="390px" height="285px" alt='国务院总理李克强《政府工作报告》（文字实录）' title='国务院总理李克强《政府工作报告》（文字实录）' /></a></div></li>

<li style="display:none"><div class="word_bg"><p title="全国政协十三届一次会议新闻发布会举行">全国政协十三届一次会议新闻发布会举行</p></div><div class="img"><a href="gjdt/201803/t20180302_9627086.htm" tppabs="http://www.ccgp.gov.cn/gjdt/201803/t20180302_9627086.htm" target='_blank'  thumb="" alt="" text=""><img src="pnews/201803/W020180302608861076654.jpg" tppabs="http://www.ccgp.gov.cn/pnews/201803/W020180302608861076654.jpg" border='0' width="390px" height="285px" alt='全国政协十三届一次会议新闻发布会举行' title='全国政协十三届一次会议新闻发布会举行' /></a></div></li>

<li style="display:none"><div class="word_bg"><p title="六部门鼓励PPP等模式支持国家农业科技园区发展">六部门鼓励PPP等模式支持国家农业科技园区发展</p></div><div class="img"><a href="ppp/zx/zy/201802/t20180224_9605161.htm" tppabs="http://www.ccgp.gov.cn/ppp/zx/zy/201802/t20180224_9605161.htm" target='_blank'  thumb="" alt="" text=""><img src="pnews/201802/W020180227332236795475.jpg" tppabs="http://www.ccgp.gov.cn/pnews/201802/W020180227332236795475.jpg" border='0' width="390px" height="285px" alt='六部门鼓励PPP等模式支持国家农业科技园区发展' title='六部门鼓励PPP等模式支持国家农业科技园区发展' /></a></div></li>

</ul>
</div>
</div>
        <div class="txtnews">
            <div class="txtnews_topic">
            	<p>
            		<#list newsList1 as newsList1>  
                 		<#if newsList1_index ==0>
							<a href="${base.contextPath}/index/newsDetail?id=${newsList1.id}"  target="_blank" title="${newsList1.newstitle}">${newsList1.newsSimpleTitle}</a>
						</#if> 
					</#list>
				</p>
			</div>
            <div class="txtnews_list_contianer">
                <ul class="txtnews_list">
                 	<#list newsList1 as newsList1>  
                 		<#if newsList1_index !=0>
							<li><a href="${base.contextPath}/index/newsDetail?id=${newsList1.id}"  target="_blank" title="${newsList1.newstitle}">${newsList1.newsSimpleTitle}</a></li>
						</#if> 
					</#list>
            	</ul>
                <ul class="txtnews_list">
                	 <#list newsList2 as newsList2>   
						<li><a href="${base.contextPath}/index/newsDetail?id=${newsList2.id}"  target="_blank" title="${newsList2.newstitle}">${newsList2.newsSimpleTitle}</a></li>
					 </#list>
				</ul>
            </div>
        </div>
    </div>
<div>
    <div class="main_left_block mt13">
        <div class="banner_block ">
            <div class="vF_banner bx_log">
                <p class="ml92 dlzc"><a href="javascript:void(0)" onclick="dosearch(1)">内容检索</a></p>
                <p class="ml67 dlzc"></p>
                <p class="ml92 dlzc"><a href="gzdt/201603/t20160301_8123933.htm"  target="_blank">登录</a> | <a href="javascript:if(confirm(%27http://pub.ccgp.gov.cn/loginx/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://pub.ccgp.gov.cn/loginx/%27" tppabs="http://pub.ccgp.gov.cn/loginx/">注册</a></p>
            </div>
        </div>

        <div class="wz_block">
            <div class="newslist_bl_nor mt13">
                <div class="newslist">
               <div class="vF_t2">
                <div class="vF_t2_r1" style="height:80px">
                    <div class="vF_tab unit2">
                        <div class="vF_title_bar2">
                          <h2 class="ui_til4_tab_u current2 word8"><a href="cggg/zygg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/">中央单位采购公告</a></h2>
                        <ul class="c_list_bidtype">
                            <li><a href="cggg/zygg/gkzb/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gkzb/">招标</a></li>
                            <li><a href="cggg/zygg/zbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/zbgg/">中标</a></li>
                            <li><a href="cggg/zygg/gzgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gzgg/">更正</a></li>
                            <li><a href="cggg/zygg/qtgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/qtgg/">其他</a></li>
                            <li><a href="cggg/zygg/xjgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/xjgg/">询价</a></li>
                            <li><a href="cggg/zygg/yqzbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/yqzbgg/">邀请</a></li>
                            <li><a href="cggg/zygg/dylygg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/dylygg/">单一</a></li>
                            <li><a href="cggg/zygg/zgysgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/zgysgg/">预审</a></li>
<li style="white-space:nowrap;"><a href="cggg/zygg/cjgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/cjgg/">成交</a></li>
<li style="white-space:nowrap;"><a href="cggg/zygg/jzxtpgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/jzxtpgg/">竞争性谈判</a></li>
<li style="white-space:nowrap;"><a href="cggg/zygg/jzxcs/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/jzxcs/">竞争性磋商</a></li>
<li style="white-space:nowrap;"><a href="cggg/zygg/fblbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/fblbgg/">终止公告</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


<ul class="c_list mt10 mb10 split" id="area3_con1">

<li><a href="cggg/zygg/gkzb/201803/t20180315_9667182.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gkzb/201803/t20180315_9667182.htm" target="_blank" title="商务部国际经济合作事务局援某国综合技术学校扩建项目管理任务公开招标公告">商务部国际经济合作事务局援某国综合技术学校扩...</a></li>

<li><a href="cggg/zygg/gkzb/201803/t20180315_9667123.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gkzb/201803/t20180315_9667123.htm" target="_blank" title="国家邮政局2018年全国重点地区快递服务时限测试项目公开招标公告">国家邮政局2018年全国重点地区快递服务时限测试...</a></li>

<li><a href="cggg/zygg/gkzb/201803/t20180315_9667137.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gkzb/201803/t20180315_9667137.htm" target="_blank" title="西南交通大学激光投影机等设备购置公开招标公告">西南交通大学激光投影机等设备购置公开招标公告</a></li>

<li><a href="cggg/zygg/gkzb/201803/t20180315_9667097.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gkzb/201803/t20180315_9667097.htm" target="_blank" title="国家邮政局2018年快递服务满意度调查项目公开招标公告">国家邮政局2018年快递服务满意度调查项目公开招...</a></li>

<li><a href="cggg/zygg/zbgg/201803/t20180315_9667188.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/zbgg/201803/t20180315_9667188.htm" target="_blank" title="中山大学数据科学与计算机学院分布式存储集群软件采购项目中标公告">中山大学数据科学与计算机学院分布式存储集群软...</a></li>

<li><a href="cggg/zygg/zbgg/201803/t20180315_9666911.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/zbgg/201803/t20180315_9666911.htm" target="_blank" title="工人出版社办公楼五、六层维修改造工程招标中标公示">工人出版社办公楼五、六层维修改造工程招标中标公示</a></li>

<li><a href="cggg/zygg/zbgg/201803/t20180315_9666919.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/zbgg/201803/t20180315_9666919.htm" target="_blank" title="人民日报社15号楼改造项目中标公示">人民日报社15号楼改造项目中标公示</a></li>

<li><a href="cggg/zygg/gzgg/201803/t20180315_9666835.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/gzgg/201803/t20180315_9666835.htm" target="_blank" title="吉林大学校报印刷服务采购项目更正公告">吉林大学校报印刷服务采购项目更正公告</a></li>

<li><a href="cggg/zygg/jzxtpgg/201803/t20180315_9666717.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/jzxtpgg/201803/t20180315_9666717.htm" target="_blank" title="中国科学院生物物理研究所动物实验平台条件保障服务采购项目竞争性谈判公告">中国科学院生物物理研究所动物实验平台条件保障...</a></li>

<li><a href="cggg/zygg/cjgg/201803/t20180315_9666452.htm" tppabs="http://www.ccgp.gov.cn/cggg/zygg/cjgg/201803/t20180315_9666452.htm" target="_blank" title="清华大学学生公寓30号楼消防改造工程成交公告">清华大学学生公寓30号楼消防改造工程成交公告</a></li>

</ul>


                <div class="vT_t3_r3">
                        <div class="vT_pg">
                            <div id="area3_sel_1"></div>
                            <div id="area3_sel_2"></div>
                            <div id="area3_sel_3"></div>
                        </div>
                </div>

            </div>
                </div><!--newslist-->
            </div>

<div class="newslist_bl_nor mt13">
                <div class="newslist">
               <div class="vF_t2">
                <div class="vF_t2_r1" style="height:80px">
                    <div class="vF_tab unit2">
                        <div class="vF_title_bar2">
                          <h2 class="ui_til4_tab_u current2 word8"><a href="cggg/dfgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/">地方单位采购公告</a></h2>
                        <ul class="c_list_bidtype">
                            <li><a href="cggg/dfgg/gkzb/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gkzb/">招标</a></li>
                            <li><a href="cggg/dfgg/zbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/zbgg/">中标</a></li>
                            <li><a href="cggg/dfgg/gzgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gzgg/">更正</a></li>
                            <li><a href="cggg/dfgg/qtgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/qtgg/">其他</a></li>
                            <li><a href="cggg/dfgg/xjgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/xjgg/">询价</a></li>
                            <li><a href="cggg/dfgg/yqzbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/yqzbgg/">邀请</a></li>
                            <li><a href="cggg/dfgg/dylygg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/dylygg/">单一</a></li>
                            <li><a href="cggg/dfgg/zgysgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/zgysgg/">预审</a></li>
<li style="white-space:nowrap;"><a href="cggg/dfgg/cjgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/cjgg/">成交</a></li>
<li style="white-space:nowrap;"><a href="cggg/dfgg/jzxtpgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/jzxtpgg/">竞争性谈判</a></li>
<li style="white-space:nowrap;"><a href="cggg/dfgg/jzxcs/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/jzxcs/">竞争性磋商</a></li>
<li style="white-space:nowrap;"><a href="cggg/dfgg/fblbgg/index.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/fblbgg/">终止公告</a></li>
                            </ul>
                        </div>
                    </div>
                </div>





<ul class="c_list mt10 mb10 split" id="area4_con1">

<li><a href="cggg/dfgg/fblbgg/201803/t20180315_9667199.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/fblbgg/201803/t20180315_9667199.htm" target="_blank" title="北京公联洁达公路养护工程有限公司2018年公联养护公司交通工程废标公告/流标公告">北京公联洁达公路养护工程有限公司2018年公联养...</a></li>

<li><a href="cggg/dfgg/gzgg/201803/t20180315_9667195.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gzgg/201803/t20180315_9667195.htm" target="_blank" title="莱州市2018年老旧小区整治改造设计项目更正公告">莱州市2018年老旧小区整治改造设计项目更正公告</a></li>

<li><a href="cggg/dfgg/gzgg/201803/t20180315_9667211.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gzgg/201803/t20180315_9667211.htm" target="_blank" title="济南市历城区人民政府郭店办事处渣土堵截执勤点建设项目变更公告">济南市历城区人民政府郭店办事处渣土堵截执勤点...</a></li>

<li><a href="cggg/dfgg/gkzb/201803/t20180315_9667194.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gkzb/201803/t20180315_9667194.htm" target="_blank" title="定州市2017年地下水超采综合治理地表水节水灌溉项目支管线球墨铸铁管道及管件采购（三次）招标公告">定州市2017年地下水超采综合治理地表水节水灌溉...</a></li>

<li><a href="cggg/dfgg/zbgg/201803/t20180315_9667201.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/zbgg/201803/t20180315_9667201.htm" target="_blank" title="北上高健康主题社区建设采购项目自行采购（询价）成交结果公告">北上高健康主题社区建设采购项目自行采购（询价...</a></li>

<li><a href="cggg/dfgg/jzxtpgg/201803/t20180315_9667214.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/jzxtpgg/201803/t20180315_9667214.htm" target="_blank" title="大庆市政府采购中心关于大庆市林业局湿地资源普查、湿地保护利用规划采购竞争性谈判延期公告">大庆市政府采购中心关于大庆市林业局湿地资源普...</a></li>

<li><a href="cggg/dfgg/gkzb/201803/t20180315_9667200.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gkzb/201803/t20180315_9667200.htm" target="_blank" title="博爱县公安局合成作战中心建设项目招标公告">博爱县公安局合成作战中心建设项目招标公告</a></li>

<li><a href="cggg/dfgg/xjgg/201803/t20180315_9667193.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/xjgg/201803/t20180315_9667193.htm" target="_blank" title="泸西县LXCX201804办公设备材询价采购公告">泸西县LXCX201804办公设备材询价采购公告</a></li>

<li><a href="cggg/dfgg/gkzb/201803/t20180315_9667198.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/gkzb/201803/t20180315_9667198.htm" target="_blank" title="宁夏回族自治区安全生产监督管理局安全生产“一张图”信息化建设项目（二、三标段）二次招标公告">宁夏回族自治区安全生产监督管理局安全生产“一...</a></li>

<li><a href="cggg/dfgg/qtgg/201803/t20180315_9667203.htm" tppabs="http://www.ccgp.gov.cn/cggg/dfgg/qtgg/201803/t20180315_9667203.htm" target="_blank" title="文山州中心血站（2017-2019年）试剂、耗材供应商入围采购项目（五标段）谈判终止公告">文山州中心血站（2017-2019年）试剂、耗材供应商...</a></li>

</ul>

                
                <div class="vT_t3_r3">
                        <div class="vT_pg">
                            <div id="area4_sel_1"></div>
                            <div id="area4_sel_2"></div>
                            <div id="area4_sel_3"></div>
                        </div>
                </div>

            </div>
                </div><!--newslist-->
            </div>






        </div>
        <div class="banner_block mt10" style="height:98px;overflow: hidden;">
            <!--ccccc-->
<div id="wrapper">
    <div class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <a href="specialtopic/2018yd/index.shtml.htm" tppabs="http://www.ccgp.gov.cn/specialtopic/2018yd/index.shtml" title="2018年春节专题"><img src="img/18cjbanner.jpg" tppabs="http://www.ccgp.gov.cn/img/18cjbanner.jpg" alt="" /></a>
            </li>
            <li>
                <a href="specialtopic/index.htm" tppabs="http://www.ccgp.gov.cn/specialtopic/" title="专题专栏"><img src="img/ztzl.jpg" tppabs="http://www.ccgp.gov.cn/img/ztzl.jpg" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
        </div>





        <div class="banner_block mt10">
            <div class="vF_banner banner2">

            </div>
        </div>






    </div>

    <div class="main_right_block mt13">


        <div class="main_right_cbl ">
            <h2>资料下载</h2>
            <ul class="xzzqlinks mb15">
            	<#list downloadList as downloadList>   
				   	<li class="xzzqlinks sys1"><p><a href="${base.contextPath}${downloadList.filePath}"  target="_blank">${downloadList.fileTitle}</a></p></li>
			    </#list> 
            </ul>
        </div>

  

        <div class="main_right_cbl mt13">
            <h2 class="tpjj"><a href="tupian/index.htm" tppabs="http://www.ccgp.gov.cn/tupian/">图片集锦</a></h2>
            <!--div class="tpjj_btn"><img src="img/btn_arrow_left.gif" alt="" /><img src="img/btn_arrow_right.gif" alt="" /></div-->
            <ul class="tpjjlinks mt10 mb15">
                <li class="tpjjlinks sys1">


<a href="tupian/201712/t20171213_9327772.htm" tppabs="http://www.ccgp.gov.cn/tupian/201712/t20171213_9327772.htm" target="_blank"><img src="tupian/201712/W020180109518455960337.jpg" tppabs="http://www.ccgp.gov.cn/tupian/201712/W020180109518455960337.jpg" alt="W020171213410321008054.jpg"/></a>

</li>
            </ul>
        </div>


        <div class="main_right_cbl mt13">
            <h2>电子政务</h2>
            <div class="dzzwlinks mt10">
                <img src="img/wx_mof.gif" tppabs="http://www.ccgp.gov.cn/img/wx_mof.gif" alt="" /><img src="img/wx_ccgp.gif" tppabs="http://www.ccgp.gov.cn/img/wx_ccgp.gif" alt="" />
                <img src="img/app_qrcode.gif" tppabs="http://www.ccgp.gov.cn/img/app_qrcode.gif" alt="" style="margin-top:6px" />
            </div>
        </div>

    </div>
    </div>
</div>
</div>

<#include "../include/footer.html">
</body>
<script language="javascript" src="js/indexonly.js" tppabs="http://www.ccgp.gov.cn/js/indexonly.js"></script>
<script type="text/javascript" src="js/slider.js" tppabs="http://www.ccgp.gov.cn/js/slider.js"></script>
<script language="javascript" src="images/vr.js" tppabs="http://www.ccgp.gov.cn/images/vr.js"></script>
</html>