<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title>吉林省财政厅加强内部控制管理规范政府采购活动_中国政府采购网</title>
<link href="${base.contextPath}/lib/index/css/detail.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${base.contextPath}/lib/index/js/jquery-3.2.1.min.js" ></script>
</head>
<body id="detail">
<link href="${base.contextPath}/lib/index/css/inc.css" rel="stylesheet" type="text/css" />
<#include "../include/navigation.html">


<div class="main">
<div class="main_container">



<div class="main_left_block mt13">
<div class="wz_block">
    <div class="vF_deail_currentloc">
        <p>当前位置：<a href="../../index.htm"  title="首页" main.htm class="CurrChnlCls">首页</a>&nbsp;&raquo;&nbsp;
        <a href="${base.contextPath}/index/newsList?typeid=${newsInfo.typeid}" title="政府采购动态" main.htm class="CurrChnlCls">政府采购动态</a></p>
    </div>
    <div class="vF_deail_maincontent">

<div class="vF_detail_main">
            <div class="vF_detail_header"><h2 class="tc">${newsInfo.newstitle};</h2>
            <p class="tc"><span id="pubTime">${newsInfo.createdate?string('yyyy-MM-dd HH:mm:ss')}</span> 来源：<span id="sourceName">财政部</span> 【<span id="printBtn">打印</span>】 <span id="shareTo" style=""></span><img src="../../../pub.ccgp.gov.cn/common/images/2tqr.jpg" tppabs="http://pub.ccgp.gov.cn/common/images/2tqr.jpg" id="imgqrshow" style="postion: relative;vertical-align:middle" /><div id="qrcode" style="display:none;position: absolute;margin-left:527px;margin-top:-15px;"></div></p></div>
            <div class="vF_detail_content">
                ${newsInfo.content};
            </div>
        </div>




    </div>
    <div class="vF_detail_relcontent mt13">
    <h2><p>相关文章</p></h2>
    <div class="vF_detail_relcontent_lst">
        <ul class="c_list_tat">

        </ul>
    </div>
</div>

</div>
</div>

    <div class="main_right_block" style="margin-top:43px">




<!--OTsidebar-->
        <div class="main_right_cbl" style="margin-top:4px">
            <h2 class="mt10 mb10"><a href="../../news/index.htm" tppabs="http://www.ccgp.gov.cn/news/">采购头条</a></h2>
                <div class="vT-chs-section-content-con">
                <ul class="vT-chs-section-content-list mb10">

<li><a href="../../news/201803/t20180313_9657154.htm" tppabs="http://www.ccgp.gov.cn/news/201803/t20180313_9657154.htm" target="_blank" title="聚力增效护航高质量发展 代表委员审查讨论计划报告和预算报告">聚力增效护航高质量发展 代表委员审查...</a></li>

<li><a href="../../news/201803/t20180309_9646059.htm" tppabs="http://www.ccgp.gov.cn/news/201803/t20180309_9646059.htm" target="_blank" title="肖捷：运用政府采购政策支持中小微企业发展">肖捷：运用政府采购政策支持中小微企...</a></li>

<li><a href="../../news/201803/t20180307_9638224.htm" tppabs="http://www.ccgp.gov.cn/news/201803/t20180307_9638224.htm" target="_blank" title="九三学社：建议政府采购加强标准化管理 加强中国政府采购网建设">九三学社：建议政府采购加强标准化管...</a></li>

<li><a href="../../news/201803/t20180307_9638181.htm" tppabs="http://www.ccgp.gov.cn/news/201803/t20180307_9638181.htm" target="_blank" title="关于2017年中央和地方预算执行情况与2018年中央和地方预算草案的报告（摘要）">关于2017年中央和地方预算执行情况与2...</a></li>

<li><a href="../../news/201802/t20180226_9608832.htm" tppabs="http://www.ccgp.gov.cn/news/201802/t20180226_9608832.htm" target="_blank" title="关于做好政府采购代理机构名录登记有关工作的通知">关于做好政府采购代理机构名录登记有...</a></li>

                </ul>
                </div>
        </div>

        <div class="main_right_cbl mt13">
            <h2 class="mt10 mb10"><a href="../index.htm" tppabs="http://www.ccgp.gov.cn/zcdt/">政采动态</a></h2>
                <div class="vT-chs-section-content-con">
                <ul class="vT-chs-section-content-list mb10">

<li><a href="t20180313_9658339.htm" tppabs="http://www.ccgp.gov.cn/zcdt/201803/t20180313_9658339.htm" target="_blank" title="关于废止国际金融组织和外国政府贷款赠款项目采购管理相关规范性文件的通知">关于废止国际金融组织和外国政府贷款...</a></li>

<li><a href="t20180313_9657119.htm" tppabs="http://www.ccgp.gov.cn/zcdt/201803/t20180313_9657119.htm" target="_blank" title="龙正才代表：进一步强化预算单位的采购主体地位">龙正才代表：进一步强化预算单位的采...</a></li>

<li><a href="t20180313_9657118.htm" tppabs="http://www.ccgp.gov.cn/zcdt/201803/t20180313_9657118.htm" target="_blank" title="胡强代表：解决好采购主体地位就是牵住了牛鼻子">胡强代表：解决好采购主体地位就是牵...</a></li>

<li><a href="t20180312_9652113.htm" tppabs="http://www.ccgp.gov.cn/zcdt/201803/t20180312_9652113.htm" target="_blank" title="韩德云代表：建议继续推进完善公共法律服务政府采购">韩德云代表：建议继续推进完善公共法...</a></li>

<li><a href="t20180312_9652112.htm" tppabs="http://www.ccgp.gov.cn/zcdt/201803/t20180312_9652112.htm" target="_blank" title="刘强东委员：利用互联网和大数据技术 完善电子化政府采购">刘强东委员：利用互联网和大数据技术 ...</a></li>

                </ul>
                </div>
        </div>

        <div class="main_right_cbl mt13">
            <h2 class="mt10 mb10"><a href="../../gpsr/index.htm" tppabs="http://www.ccgp.gov.cn/gpsr/">购买服务</a></h2>
                <div class="vT-chs-section-content-con">
                <ul class="vT-chs-section-content-list mb10">

<li><a href="../../gpsr/zhxx/df/201803/t20180315_9665607.htm" tppabs="http://www.ccgp.gov.cn/gpsr/zhxx/df/201803/t20180315_9665607.htm" target="_blank" title="内蒙古西乌旗积极推进社会养老服务体系建设">内蒙古西乌旗积极推进社会养老服务体...</a></li>

<li><a href="../../gpsr/zhxx/df/201803/t20180315_9665452.htm" tppabs="http://www.ccgp.gov.cn/gpsr/zhxx/df/201803/t20180315_9665452.htm" target="_blank" title="许昌“政府购买服务”铺开课后服务">许昌“政府购买服务”铺开课后服务</a></li>

<li><a href="../../gpsr/zhxx/df/201803/t20180315_9665420.htm" tppabs="http://www.ccgp.gov.cn/gpsr/zhxx/df/201803/t20180315_9665420.htm" target="_blank" title="温州向社会力量购买森林消防服务">温州向社会力量购买森林消防服务</a></li>

<li><a href="../../gpsr/zhxx/df/201803/t20180315_9665419.htm" tppabs="http://www.ccgp.gov.cn/gpsr/zhxx/df/201803/t20180315_9665419.htm" target="_blank" title="厦门翔安力争为89个社区购买居家养老服务">厦门翔安力争为89个社区购买居家养老服务</a></li>

<li><a href="../../gpsr/zhxx/df/201803/t20180314_9661622.htm" tppabs="http://www.ccgp.gov.cn/gpsr/zhxx/df/201803/t20180314_9661622.htm" target="_blank" title="政府购买服务 黄州聘请省级危化专家给企业“体检”">政府购买服务 黄州聘请省级危化专家给...</a></li>

                </ul>
                </div>
        </div>
         <!--OTsidebar-->
        </div>
    </div>
</div>
</div>
<div class="footer mt13">

    <div class="copyright_bl">
    <div class="vF_cp">

<p><span>&copy; 1999-<script language="javascript">
var myDate = new Date();
document.write(myDate.getFullYear());
</script></span> 中华人民共和国财政部版权所有 | <a href="../../contact.shtml.htm" tppabs="http://www.ccgp.gov.cn/contact.shtml" target="_blank">联系我们</a> | <a href="mailto:feedback@ccgp.gov.cn">意见反馈</a> | <a href="javascript:if(confirm(%27http://www.miibeian.gov.cn/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.miibeian.gov.cn/%27" tppabs="http://www.miibeian.gov.cn/" target="_blank">京<span>ICP</span>备<span>10046031</span>号<span>-10</span></a></p>

</div>
    </div>
</div>
</body>
<script language="javascript" src="../../js/detailaddon.js" tppabs="http://www.ccgp.gov.cn/js/detailaddon.js"></script>
</html>