<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>app</title>

	<script>
		var _basePath = '${base.contextPath}',_locale='${base.locale}'; 
	</script>

	<script src="${base.contextPath}/lib/extjs/build/ext-all.js"></script>
	<script src="${base.contextPath}/lib/extjs/build/packages/ext-locale/build/ext-locale-zh_CN.js"></script>
	<link href="${base.contextPath}/lib/extjs/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet" />
	<!-- 自己的js -->
	<script src="${base.contextPath}/lib/extjs/myExt/Header/Header.js"></script>
	<script src="${base.contextPath}/lib/extjs/myExt/main.js"></script>
	
	<!-- 公共 -->
	<script src="${base.contextPath}/lib/extjs/myExt/common/common.js"></script>
	
	<!-- 超链接 -->
	<script src="${base.contextPath}/lib/extjs/myExt/Link/Link.js"></script>
	<script src="${base.contextPath}/lib/extjs/myExt/Link/item/addorUpdateLinkWindow.js"></script>
	<!-- 简介 -->
	<script src="${base.contextPath}/lib/extjs/myExt/Introduction/Introduction.js"></script>
	<!-- ueditor -->
	<script type="text/javascript" charset="utf-8">
    	window.UEDITOR_HOME_URL = "${base.contextPath}/lib/extjs/ueditor/utf8-jsp/"; //UEDITOR_HOME_URL、config、all这三个顺序不能改变
	</script>
	<script type="text/javascript" charset="utf-8" src="${base.contextPath}/lib/extjs/ueditor/utf8-jsp/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="${base.contextPath}/lib/extjs/ueditor/utf8-jsp/ueditor.all.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="${base.contextPath}/lib/extjs/ueditor/utf8-jsp/lang/zh-cn/zh-cn.js"></script>
	<script src="${base.contextPath}/lib/extjs/ueditor/ueditor.js"></script>
	
	<!-- 类别 -->
	<script src="${base.contextPath}/lib/extjs/myExt/NewsType/NewsType.js"></script>
	<script src="${base.contextPath}/lib/extjs/myExt/NewsType/item/addorUpdateNewsTypeWindow.js"></script>
	
	<!-- 信息 -->
	<script src="${base.contextPath}/lib/extjs/myExt/News/News.js"></script>
	<script src="${base.contextPath}/lib/extjs/myExt/News/item/addorUpdateNewsWindow.js"></script>
	
		<script type="text/javascript">
				var theLoginUserName;
				var theLoginUserId;
				function aa(){
					theLoginUserId=document.getElementById("theLoginUserId").value;
					theLoginUserName=document.getElementById("theLoginUserName").value;
				} 
			
		</script>
	
</head>
<body>


<input type="hidden" id="theVersion" value="0.0.0" />
<input type="hidden" id="theLoginUserId" value="admin" /> 
<input type="hidden" id="theLoginUserName" value="admin" />  
</body>
</html>





