<!-- 页脚 S-->
<div id="footer">
	<div class="copyright">
		<div class="link">友情链接：
			<#list linkList as linkList>
					<a href="${linkList.linkUrl}" target="_blank">${linkList.linkName}</a>&nbsp;&nbsp;&nbsp;
			</#list>
			
		</div>
		<div class="siteWidth">
			版权所有：上海幼协会 Copyright © 2015 - 2018 All Rights Reserved aaaaaa号 <br>
		</div>
		<div class="siteWidth">
			&nbsp;&nbsp; <a target="_blank"
				href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=62010002000482"
				style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;">
				<img src="${base.contextPath}/lib/index/img/batb.png"
				style="float: left;" />
			<p style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #ffffff;">上公网安备12312312号</p>
			</a>
		</div>

		<div class="footerLinks"></div>
	</div>
</div>
