<div class="v4incheadertop">
    <div class="v4incheadertop_tel_block">
        <div class="v4incheadertop_tel">
            <p class="cl">财政部唯一指定政府采购信息网络发布媒体 国家级政府采购专业网站</p><p class="cr">服务热线：400-810-1996</p>
        </div>
    </div>
    <div class="v4incheadertop_logosearch_block2">
        <div class="v4incheadertop_logosearch">
        <div class="searcharea1">
            <div class="logo_gh" style="margin-top:20px">
            <a href="#" class="ccgp"></a>
            <a href="#" class="ccgp2"></a>
            <a href="#" class="gmfw"></a>
            <a href="#" class="ccgp3"></a>
            </div>
        </div>

        <div class="searcharea2">
            <div class="sangong_bl"></div>

        </div></div>
    </div>
    <div class="v4incheadertop_nav_block">
        <div class="v4incheadertop_nav">
            <ul class="v4incheadertop_nav_ls">
                <li class="fst" id="ch_index"><a href="../../index.htm" tppabs="http://www.ccgp.gov.cn/">首页</a></li>
                <li id="ch_zcfg"><a href="../../zcfg/index.htm" tppabs="http://www.ccgp.gov.cn/zcfg/">政采法规</a></li>
                <li id="ch_gmfw"><a href="../../gpsr/index.htm" tppabs="http://www.ccgp.gov.cn/gpsr/">购买服务</a></li>
                <li id="ch_jdjc"><a href="../../jdjc/index.htm" tppabs="http://www.ccgp.gov.cn/jdjc/">监督检查</a></li>
                <li id="ch_xxgg"><a href="../../xxgg/index.htm" tppabs="http://www.ccgp.gov.cn/xxgg/">信息公告</a></li>
                <li id="ch_gpa"><a href="../../wtogpa/index.htm" tppabs="http://www.ccgp.gov.cn/wtogpa/">GPA专栏</a></li>
                <li id="ch_ppp"><a href="../../ppp/index.htm" tppabs="http://www.ccgp.gov.cn/ppp/">PPP频道</a></li>
            </ul>
        </div>
    </div>
    <div class="clb"></div>
</div>