<style>
.logo_gh{width:388px;height:80px;float:left;background:url("${base.contextPath}/resources/upload/logo/logo.png") no-repeat left top}
</style>
<div class="v4incheadertop">
    <div class="v4incheadertop_tel_block">
        <div class="v4incheadertop_tel">
            <p class="cl"></p><p class="cr" style="float:right">
        	 <#if Session["userId"]?exists>
				<a href="${base.contextPath}/index/user"  style="color:#fff">${Session["userRealName"]}</a>
			 <#else>
			 	<a href="${base.contextPath}/index/login"  style="color:#fff">登录</a>
			 </#if>
			</p>
        </div>
    </div>
    <div class="v4incheadertop_logosearch_block2">
        <div class="v4incheadertop_logosearch">
        <div class="searcharea1">
            <div class="logo_gh" style="margin-top:20px">
            <a href="#" class="ccgp"></a>
            <a href="#" class="ccgp2"></a>
            <a href="#" class="gmfw"></a>
            <a href="#" class="ccgp3"></a>
            </div>
        </div>

        <div class="searcharea2">
            <div class="sangong_bl"></div>

        </div></div>
    </div>
    <div class="v4incheadertop_nav_block">
        <div class="v4incheadertop_nav">
            <ul class="v4incheadertop_nav_ls">
              	<li  id="ch_index" <#if chanel =='CH_INDEX'> class="actv" </#if>><a href="${base.contextPath}" >首页</a></li> <!-- class="fst"-->
                <li id="ch_xhjj" <#if chanel =='CH_XHJJ'> class="actv" </#if>><a href="${base.contextPath}/index/about" >协会简介</a></li>
                <li id="ch_zxzx" <#if chanel =='CH_ZXZX'> class="actv" </#if>><a href="${base.contextPath}/index/news" >资讯中心</a>
                <ul>
                	<#list kgNewstypeList as typeList>   
							<li><a href="${base.contextPath}/index/newsTypeList?typeid=${typeList.id}">${typeList.typename}</a></li> 
					</#list>
					
                </ul>
                </li>
                <li id="ch_xhgz" <#if chanel =='CH_XHGZ'> class="actv" </#if>><a href="../../jdjc/index.htm" >协会工作</a>
                <ul>
               		 <li><a href="${base.contextPath}/index/assessmentTypeList">评选评估</a></li> 
               		 <li><a href="#">在线调查</a></li> 
                </ul>
                </li>
                <li id="ch_lxwm" <#if chanel =='CH_LXWM'> class="actv" </#if>><a href="${base.contextPath}/index/contact" >联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="clb"></div>
</div>