<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.huan.kindergarten.bean.mapper.KdLinkMapper">
    <resultMap id="BaseResultMap" type="cn.huan.kindergarten.bean.KdLink">
        <id column="id" property="id" jdbcType="DECIMAL"/>
        <result column="link_Name" property="linkName" jdbcType="VARCHAR"/>
        <result column="link_Url" property="linkUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      ID,link_Name,link_Url
    </sql>

    <insert id="insert" parameterType="cn.huan.kindergarten.bean.KdLink">
      insert into kt_link (
        link_Name,
        link_Url
      ) values (
        #{linkName, jdbcType=VARCHAR},
        #{linkUrl, jdbcType=VARCHAR}
      )
   </insert>

</mapper>