<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huan.HTed.account.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.huan.HTed.account.dto.Role">
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
        <result column="ROLE_DESCRIPTION" property="roleDescription" jdbcType="VARCHAR" />
    </resultMap>


</mapper>